<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mairie</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div id="navbar">
    <div class="home">
      <a href="">Mutrecy.fr</a>
    </div>
    <div class="autre">
      <a routerLink="/signIn" routerLinkActive="active">Connexion</a>
      <a href="">Forum</a>
    </div>
  </div>

  <header>
    <nav id="test">

        <div class="onglets">
          <div class="logo">
            <a href="">Mutrecy.fr</a>
          </div>
          <div class="other">
            <a routerLink="/signIn" routerLinkActive="active">Connexion</a>
            <a href="">Forum</a>
          </div>
        </div>

    </nav>

 </header>


    <section class="input">
        <div class="form" [formGroup]="profileForm">

            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <div class="form__group">
            <label for="name" class="form__label">Full Name</label>
            <input id="first-name" type="text" class="form__input" id="name" placeholder="Full name" formControlName="username" required="" />
            </div>

            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <div class="form__group">
            <label for="name" class="form__label">Mot de passe</label>
            </div>
            <input type="password" class="form__input" id="name" placeholder="Password" formControlName="password" required="" />
            <div class="error" *ngIf="getError()"><p>Nom d'utilisateur ou mot de passe incorrect</p></div>
            <button class="button" (click)="onSubmit()">Connexion</button>

        </div>
   </section>


   <footer>
    <p>&copy; Contactez-nous au 02 31 79 38 05 ou par mail <a href="mailto:mage.mairiedemutrecy@wanadoo.fr">mage.mairiedemutrecy@wanadoo.fr</a></p>
    <div class="social-media">
      <p><i class="fab fa-facebook-f"></i></p>
      <p><i class="fab fa-twitter"></i></p>
      <p><i class="fab fa-instagram"></i></p>
      <p><i class="fab fa-linkedin-in"></i></p>
    </div>
  </footer>
    
</body>
</html>